$textColor:#E8EDE7;
$ColorOne: #81BECE;
$ColorTwo: #378BA4;
$ColorThree:#036280;
$ColorFour:#012E4A;
$extraSmallSize:0.25rem;
$smallSize: 0.50rem;
$mediumSize:1rem;
$largeSize:1.5rem;
$extraLargeSize:2rem;
$mainFont: 'Montserrat',
sans-serif;

@import "~bootstrap/scss/bootstrap";

html {
    font-size: 62.5%;
}
body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: $mainFont;
}

a,p,h1,h2,h3,h4,h5 {
    color:$textColor;
}

.header {
    background-color: $ColorOne;
    @media (min-width: 768px) {
        min-height: 100vh;
    }
}
.main {
    background-color: $ColorTwo;;
    max-width: 1440px;
    margin:0 auto;
}
.footer {
    background-color: $ColorThree;
}
